@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes fade-in-slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.1;
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

.animate-fade-in-slow {
  animation: fade-in-slow 2s ease-in-out forwards;
}

